<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
		initial-scale=1.0"
    />

    <title>Alaram Clock</title>

    <style>
      #clock {
        font-size: 50px;
        width: 300px;
        margin: 0 auto;
        text-align: center;
        border: 2px solid black;
        border-radius: 20px;
      }
      #setTime {
        font-size: 50px;
        width: 300px;
        margin: 0 auto;
        text-align: center;
      }
    </style>
  </head>

  <body style="text-align: center" onload="loadTime()">
    <!-- Display Current Time -->
    <h2>Simple Clock (Current Time)</h2>
    <div id="clock"></div>

    <!-- Set and Update Alaram -->
    <h2 style="margin-top: 20px">Set Alaram and Update Alaram</h2>
    <div id="setTime"></div>
    Hours: <input type="number" id="hours" min="0" max="12" /> 
	Minutes:<input type="number" id="minutes" min="0" max="60"/>
    Seconds:<input type="number" id="seconds" min="0" max="60" />
    <input type="button" value="SET" onclick="setAlaram()" />

    <!-- Audio file to play if set time is equal to current time -->
    <audio id="alarm-audio" src="http://www.accesscontrolsales.com/Ingram_Products/mp3/pb120afb-x.mp3"></audio>

    <script>
      //show current time
      setInterval(showTime, 1000);
      function showTime() {
        let time = new Date();
        let hour = time.getHours();
        let min = time.getMinutes();
        let sec = time.getSeconds();
        var ampm = hour < 12 ? 'AM' : 'PM';
        if (hour > 12) {
          hour -= 12;
        }
        if (hour == 0) {
          hour = 12;
        }
        let currentTime = hour + ":" + min + ":" + sec + ampm;
        document.getElementById("clock").innerHTML = currentTime;
      }
      showTime();

      //set alaram in local storage and update
      function setAlaram() {
        let timeVal = {
          hrs: document.getElementById("hours").value,
          min: document.getElementById("minutes").value,
          sec: document.getElementById("seconds").value,
        };
        localStorage.setItem("clockTime", JSON.stringify(timeVal));
        let getTime = JSON.parse(localStorage.getItem("clockTime"));
        let time = getTime.hrs + ":" + getTime.min + ":" + getTime.sec;
        document.getElementById("setTime").innerHTML = time;
      }

      //get time store in local storage on load
      function loadTime() {
        let getTime = JSON.parse(localStorage.getItem("clockTime"));
        let time = getTime.hrs + ":" + getTime.min + ":" + getTime.sec;
        document.getElementById("setTime").innerHTML = time;
      }

      //to check set time and current time
      setInterval(checkTime, 1000);
      function checkTime() {
        let time = new Date();
        let hour = time.getHours();
        let min = time.getMinutes();
        let sec = time.getSeconds();
        if (hour > 12) {
          hour -= 12;
          ampm = "PM";
        }
        if (hour == 0) {
          hour = 12;
          ampm = "AM";
        }
        let getTime = JSON.parse(localStorage.getItem("clockTime"));
        if (hour == getTime.hrs && min == getTime.min && sec == getTime.sec) {
          document.getElementById("alarm-audio").play();
        }
      }
      checkTime();
    </script>
  </body>
</html>
