 <!DOCTYPE html>
<html>

<body style="text-align:center;">
	<h2>Simple Calculator</h2>
	Enter Input: <input type="text" id="myText" name="txt"  onkeyup="myFunction()">
	Result: <input type="text" id="demo">
    <script>
	// Here the value is stored in new variable x
	function myFunction() {
		var x = document.getElementById("myText").value;
		document.getElementById("demo").value = eval(x);
	}
	</script>
</body>

</html> 

